.schedule {

  &__body {
    padding: 0;
  }

  &__card {
    margin-bottom: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;

    &-title {
      margin: 0;
      padding: 10px 15px;
      background: #cce5ff;
      white-space: nowrap;
      font-size: 1.25em;
    }

  }

  &__table {
    width: 100%;
    text-align: center;

    thead {
      font-weight: bold;
    }

    tbody {

      tr:nth-of-type(even) {
        background: #eee;
      }

      td {
        min-width: 115px;
        padding: 15px 15px;
      }

    }

  }

  &__btn {
    margin: 15px;
  }

}