<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=992, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Предновогодний марафон "Обновление"</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Расписание питания</h1>
        <div id="app">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Полная таблица
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse schedule__body show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">

                            <div class="schedule__card">
                                <div class="schedule__card-body">
                                    <table class="schedule__table schedule__table_xl">
                                        <thead>
                                        <tr>
                                            <td class="schedule__card-title"></td>
                                            <td class="schedule__card-title" v-for="day in days">{{day.name}}</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(eating, key, index) in eatingsMap">
                                            <td><strong>{{eating.name}}</strong></td>
                                            <td v-for="day in days">{{day.eatings[key]}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="btn btn-primary schedule__btn">Скачать</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Разбивка пн-вт-ср, чт-пт, сб-вс
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse schedule__body" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">

                                    <div class="col-12">
                                        <div class="schedule__card">
                                            <div class="schedule__card-body">
                                                <table class="schedule__table">
                                                    <thead>
                                                    <tr>
                                                        <td class="schedule__card-title"></td>
                                                        <td class="schedule__card-title">{{days['monday'].name}}</td>
                                                        <td class="schedule__card-title">{{days['tuesday'].name}}</td>
                                                        <td class="schedule__card-title">{{days['wednesday'].name}}</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(eating, key, index) in eatingsMap">
                                                        <td><strong>{{eating.name}}</strong></td>
                                                        <td>{{days['monday'].eatings[key]}}</td>
                                                        <td>{{days['tuesday'].eatings[key]}}</td>
                                                        <td>{{days['wednesday'].eatings[key]}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <a href="#" class="btn btn-primary schedule__btn">Скачать</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="schedule__card">
                                            <div class="schedule__card-body">
                                                <table class="schedule__table">
                                                    <thead>
                                                    <tr>
                                                        <td class="schedule__card-title"></td>
                                                        <td class="schedule__card-title">{{days['thursday'].name}}</td>
                                                        <td class="schedule__card-title">{{days['friday'].name}}</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(eating, key, index) in eatingsMap">
                                                        <td><strong>{{eating.name}}</strong></td>
                                                        <td>{{days['thursday'].eatings[key]}}</td>
                                                        <td>{{days['friday'].eatings[key]}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <a href="#" class="btn btn-primary schedule__btn">Скачать</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="schedule__card">
                                            <div class="schedule__card-body">
                                                <table class="schedule__table">
                                                    <thead>
                                                    <tr>
                                                        <td class="schedule__card-title"></td>
                                                        <td class="schedule__card-title">{{days['saturday'].name}}</td>
                                                        <td class="schedule__card-title">{{days['sunday'].name}}</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(eating, key, index) in eatingsMap">
                                                        <td><strong>{{eating.name}}</strong></td>
                                                        <td>{{days['saturday'].eatings[key]}}</td>
                                                        <td>{{days['sunday'].eatings[key]}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <a href="#" class="btn btn-primary schedule__btn">Скачать</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Разбивка по дням
                            </button>
                        </h5>
                    </div>

                    <div id="collapseThree" class="collapse schedule__body" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">

                                    <div class="col-12 col-lg-6 col-xl-4" v-for="day in days">
                                        <div class="schedule__card">
                                            <div class="schedule__card-body">
                                                <table class="schedule__table">
                                                        <thead>
                                                        <tr>
                                                            <td colspan="2" class="schedule__card-title">{{day.name}}</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="(eating, key, index) in day.eatings">
                                                            <td>
                                                                <div><strong>{{eatingsMap[key].name}}</strong></div>
                                                                <div><strong>{{eatingsMap[key].notice}}</strong></div>
                                                            </td>
                                                            <td>{{eating}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                <a href="#" class="btn btn-primary schedule__btn">Скачать</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/script.js"></script>
</html>